version: '3.8'

services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.0
    container_name: mlflow_server
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlartifacts --host 0.0.0.0
    volumes:
      - ./mlflow_data:/mlflow
      - ./mlartifacts:/mlartifacts

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  api:
    build: .
    container_name: cloud_cost_api
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=file:/app/mlruns
    volumes:
      - ./mlruns:/app/mlruns
    depends_on:
      - mlflow

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dashboard
    ports:
      - "8501:8501"
    command: streamlit run ui/app.py --server.address=0.0.0.0 --server.port=8501
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./data:/app/data
      - ./training:/app/training
      - ./ui:/app/ui
      - ./mlruns:/app/mlruns
    depends_on:
      - api

volumes:
  grafana_data:
